<div class="sidebar">
    <span>
        <h1 class="mt-2">Avaliable roads</h1>
    </span>
    <div class="col align-items-start m-3">
        <div class="selectionableRoad row" (click)="clickRoad(road, $event)" *ngFor="let road of roadIdList">
            <span>{{ road }}</span>
        </div>
    </div>
</div>
<div class="submenu animate__animated animate__fadeIn " (click)="clickRoad('', $event)" *ngIf="submenuIsVisible" [style.top.px]="submenuTop"
    [style.left.px]="submenuLeft">
    <div>
        <p (click)="clickRoadWork()">Roadwoks</p>
        <p (click)="clickWebcam()">Webcam</p>
        <p (click)="clickParking()">Parking lorry</p>
        <p (click)="clickWarning()">Warning</p>
        <p (click)="clickClosure()">Closure</p>
        <p (click)="clickElectricCharge()">Electric charging Station</p>

    </div>
</div>
<div class="content" (click)="clickRoad('', $event)">
    <div *ngIf="roadWork !== '' && roadList.length === 0">
        <p>This road has no {{ call }} active right now! <i class="fa-solid fa-triangle-exclamation"></i></p>
    </div>
    <div class="home" *ngIf="roadWork === '' && roadList.length === 0">
        <div>
            <h1>hola</h1>
        </div>
        <div>
            <p>buenas tardes</p>
        </div>
    </div>
    <div class="data" *ngIf="roadList.length !== 0 && !detail">
        <div class="firstRow row">
            <div class="col-3">Title</div>
            <div class="col-2">Subtitle</div>
            <div class="col">Blocked</div>
            <div class="col">Icon</div>
            <div class="col">Display Type</div>
            <div class="col">Lat</div>
            <div class="col">Long</div>
        </div>
        <div class="dataRow row" *ngFor="let road of roadList" (click)="clickDetail(road)">
            <div class="col-3">{{ road.title }}</div>
            <div class="col-2">{{ road.subtitle }}</div>
            <div class="col">
                <i *ngIf="road.isBlocked" class="fa-solid fa-unlock" style="color:rgb(130, 217, 143)"></i>
                <i *ngIf="!road.isBlocked" class="fa-solid fa-lock" style="color: rgb(235, 92, 121);"></i>
            </div>
            <div class="col"><img src="../../assets/img/{{ road.icon }}.png" alt=""></div>
            <div class="col">{{ road.display_type }}</div>
            <div class="col">{{ road.coordinate.lat }}</div>
            <div class="col">{{ road.coordinate.long }}</div>

        </div>
    </div>
    <div class="detail" *ngIf="detail">
        <div>
            <h1>{{ road.title }}</h1>
            <h2>{{ road.subtitle }}</h2>
            <p>{{ road.description }}</p>
            <p>Extend: {{road.extent }}</p>
            <p>Identifier: {{road.identifier }}</p>
            <p>startTimestamp: {{road.startTimestamp }}</p>
            <div *ngIf="road.lorryParkingFeatureIcons.lenght > 0">
                <h1>Features:</h1>
                <div *ngFor="let parking of road.lorryParkingFeatureIcons">
                    <i class="fa-solid {{ getIcon(parking.icon) }}"></i>
                    <p>{{ getIcon(parking.description) }}</p>
                </div>
                
            </div>
        </div>
    </div>
</div>