html { 
    font-size: 15pt;
}
body {
    display: flex;
    background-color: #161617;
    flex-direction: column;
}
h1 {
    font-size: 18pt;
    display: flex;
    justify-content: center;
    text-align: center;
}
h2 {
    font-size: 16pt;
    display: flex;
    justify-content: center;
    text-align: center;
}
img {
    width: 100%;
    position: relative;
    align-items: center;
}
.navbar {
    height: 10%;
}
.homeButton {
    cursor: pointer;
}
.sidebar {
    width: 15%;
    background-color: #212529;
    color: #f2f2f6;
    position: fixed;
    height: 100%;
    padding-bottom: 5%;
    overflow-y: auto;
}
.selectionableRoad{
    cursor: pointer;
    border-bottom: 1px solid #555;
}
.selectionableRoad:hover {
    color: #ffcc00; 
    font-style: italic;
}
.selectionableRoad:active {
    font-weight: bold;
    font-style: normal;
    color: #FF4A32;
}
.content {
    width: 85%;
    height: 100%;
    position: fixed;
    flex: 1;
    margin-left: 15%;
    padding: 15px;
    background-color: #212529;
    color:#f2f2f6;
    overflow-y: auto;
}
.data {
    margin-top: -1.55%;
    padding-bottom: 5%;
}
.firstRow {
    position: fixed;
    overflow-y: auto;
    width: 81.55%;
    background-color: #212529;
    z-index: 1;
    border: 1px solid #555;
    padding-top: 3px;
    padding-bottom: 3px;
}
.dataRow {
    position: relative;
    width: 100%;
    padding-top: 5%;
    border: 1px solid #555;
    cursor: pointer;
}
.dataRow:hover {
    color:#ffcc00;
    font-style: italic;
}
.dataRow:active {
    font-weight: bold;
    font-style: normal;
    color: #FF4A32;
}
.submenu {
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #212529;
    border: 1px solid #555;
    color: #f2f2f6;
    z-index: 10;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-bottom: 1px solid #555;
}
.welcome {
    background-color: #FFF;
    color: #161617;
    margin: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.explanation {
    padding: 5px;
    font-size: 16px;
}
.homepageImg {
    height: 50%;
    width: 50%;
}
.driveImg {
    
    height: 100%;
    width: 100%;
    padding: 10px;
}
.title {
    background-color: #ffd865;
    color: #161617;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.submenu>div {
    margin: 2px;
    padding: 3px;
}

.submenu>div>p {
    cursor: pointer;
}
.submenu>div>p:hover {    
    color:#ffcc00;
    font-style: italic;
}
.submenu>div>p:active {
    font-style: normal;
    color: #FF4A32;
}
